<app-player *ngFor="let player of this.game.players let i = index" [ngStyle]="{'top.rem': 3 + (i * 4)}" [name]='player' class="position-player"></app-player>

<section>
    <div class="card-stack">
        <!-- card stack -->
        <img [ngStyle]="{ 'right.px': i * 5 }" *ngFor="let item of [0, 1, 2, 3]; let i = index" src="assets/img/cards/card_cover.png" />
        <img (click)="takeCard()" class="top-card" src="assets/img/cards/card_cover.png" />
        <!-- stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ card }}.png">
        <!-- current card (animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" src="assets/img/cards/{{ currentCard }}.png" style="right: 20px" />
    </div>
</section>

<button (click)="openDialog()" class="add-btn" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
    <mat-icon>add</mat-icon>
</button>