@import "./../../styles.scss";
@import "./../../mixin.scss";
section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("./../../assets/img/board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include flexBox(center, center);
}
