@import "./../../styles.scss";
@import "./../../mixin.scss";
section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("./../../assets/img/board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include flexBox(center,
    center);
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 6.5rem;
    }
    .top-card {
        cursor: pointer;
        right: 20px;
        transition: 0.125s ease;
        &:hover {
            transform: scale(1.05) translateY(-0.8rem);
        }
    }
}

.pick-card {
    animation: pick-card-animation 1s ease;
    transform: scale(1) translateX(6rem) translateY(-14rem) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    40% {
        transform: scale(1.7) rotateY(360deg);
    }
    70% {
        transform: scale(1.7) rotateY(360deg);
    }
    100% {
        transform: scale(1) translateX(6rem) translateY(-14rem) rotate(-10deg);
    }
}