<section>
    <mat-dialog-content>
        <h2 mat-dialog-title>Spieler hinzufügen</h2>
        <p>Bitte Namen eingeben</p>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" />
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>No Thanks</button>
        <button mat-button [mat-dialog-close]='name' [disabled]="name.length == 0"><mat-icon>how_to_reg</mat-icon></button>
    </mat-dialog-actions>
</section>